#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 10px;
}
img {
  display: block;
  margin: auto;
  width: 100%;
  height: 80%;
}
.sm {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
}
select {
  display: block;
  padding: 10px 15px;
  margin: 15px auto;
  border-radius: 10px;
}
